# python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# os junk
.DS_Store

# latex logs
*.log

# large archives
a3.zip
a4.zip


a3/data/
a3/results/

a4/en_es_data/
a4/outputs/
a4/model.bin
a4/model.bin.optim
a4/vocab.json
assignment4.zip
